body {
    background-color: #222;
    background-size: cover;
    text-align: center;
}

h2 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

.controls {
    margin-bottom: 15px;
}

:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.h1 {
    color: var(--base);
}

.footer-box p {
    text-align: center;
}

.footer-box a {
    text-decoration: none;
    color: #fff;
}

.footer-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
}
